/*-------------------
App Specific Elements styles
--------------------*/
@import "colors";

/*-------------------
index
--------------------*/
body{
  font-family: 'Shadows Into Light', cursive;
}

.container {
  background-repeat: no-repeat;
  background-position-x: center;
}

#description {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1em;
}

#loginBox {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid $brown;
  border-radius: 10px;
  background-color: rgba(28, 97, 10, 0.9);
}

#signIn {
  text-align: center;
  margin-top: 5px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#joinImg:hover{
  background-image: url('../JoinHoverClick.png');
}

#loginImg:hover{
  background-image: url('../GoHoverClick.png');
}

#loginEmail {
  
}

#loginPassword {
  
}


.login_button {
 
}

#createAccount {
  text-decoration: none;
}

/*#createAccountButton {
  margin-top: 10%;
  margin-right: auto;
  margin-left: 27%;
  width: 200px;
  height: 30px;
  background-color: $green;
  color: black;
  border-radius: 5px;
  font-size: 1.1em;
  border-color: $green;
  border: none;
}
*/
/*-------------------
register
--------------------*/


