/*-------------------
General styles
--------------------*/
@import "colors.scss";


#shindigLogo {
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 5px;
}

.white {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}


/*-------------------
Shindig List View
--------------------*/
.shindigContainer {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.shindigDetail {
  font-size: 1.2em;
  margin-left: 35px;
  margin-bottom: 0px;
}

#titleDisplay {
  font-size: 1.5em;
  font-weight: bold;
  font-family: helvetica;
}

#descriptionDisplay {
  display: none;
}

#descriptionDisplay.On {
  display: block;
  margin-bottom: 5px;
}
