/*-------------------
General styles
--------------------*/
@import "colors.scss";

#banner {
  background-color: $green;
}

#shindig {
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 5px;
}

.mainContent {
  border: 2px solid $brown;
  border-left: none;
  border-right: none;
}

.white {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.shindigContainer {
  margin: 15px;
  border: 1.5px solid black;
  border-radius: 5px;
}
