
@import "colors";
$default-font-size: 16px !default;

body{
		background-image: url('../summer-tree2.png');
		background-repeat: no-repeat;
		background-position-x: center;
	@media screen and (max-width: 425px) {
		background-image: url('../summer-tree2-280.png');
	}
	@media screen and (min-width: 426px) and (max-width: 575px){
		background-image: url('../summer-tree2-400.png');
	}
	@media screen and (min-width: 576px) and (max-width: 650px){
		background-image: url('../summer-tree2-600.png');
	}
	@media screen and (min-width: 651px) and (max-width: 800px){
		background-image: url('../summer-tree2-800.png');
	}
}

.banner {
	width: 100%;
	height: 200px;
}

#aboutShindig{
		font-size: 35px;
		text-align: center;
		margin-top: 180px;
	@media screen and (max-width: 320px) {
		font-size: 1em;
	}
	@media screen and (min-width: 321px) and (max-width: 800px){
		font-size: 2em;
	}
	@media screen and (min-width: 801px) and (max-width: 1000px){
		font-size: 20px;
	}
}

/*.mainContent {
  width: 100%;
  height: 80%;
}

.innerContainer {
  width: 100%;
  height: 80%;

}
*/


#loginBox{
		width: 600px;
		height: 150px;
	@media screen and (max-width: 320px) {
		width: 200px;
		height: 130px
	}
	@media screen and (min-width: 321px) and (max-width: 800px){
		width: 300px;
		height: 150px;
	}
	@media screen and (min-width: 801px) and (max-width: 1000px){
		width: 500px;
		height: 180px;
	}
}


.shindigContainer {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	@media screen and (max-width: 400px) {
		width: 97%;
		margin: 1.5%;
		margin-bottom: 5px;
	}
}

#loginEmail {
  float: left;
  margin-top: 30px;
  font-size: 28px;
}

#loginPassword {
  //width: 250px;
 // height: 30px;
  float: right;
  margin-top: 30px;
  font-size: 28px;
}

#joinImg {
	float: left;
	margin-left: 20px;
}

#loginImg {
	float:right;
	margin-right: 20px;
}

#signIn {
	font-size: 35px;
	width:100px;
	height:40px;
	float:left;
	margin-left: 125px;
}





