/*-------------------
Layout styles
--------------------*/

#banner {
  width: 100%;
  height: 15%;
  margin: 0px;
}

.container {
  width: 100%;
  height: 80%;
  margin: 0px;
//  margin-left: auto;
//  margin-right: auto;
}
