.centeredDescription {
  padding-bottom: 11em;
}

.formBox {
  background-color: #5BAB33;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  font-size: 1.2em;
}

.formTexts {
  text-align: center;
}

.formBox li {
  margin-bottom: 1em;
}

.formBox p {
  text-align: center;
}

.buttonRegister {
  box-shadow: 5px 5px 10px gray;
  background-color: #C4D46A;
  border-radius: .3em;
  border: none;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
  margin-bottom: .5em;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.buttonRegister:hover {
    cursor: pointer;
    cursor: hand;
}
