lib-cov/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb

pids/
logs/
results/

npm-debug.log
node_modules/
test/acceptance/*-results.xml

build/
dist/
app/bower_components/
.sass-cache/
bower_components/
app/bower_components/
**/**/.DS_Store
