<div class="formBox medium-12 column">

	<form id="signupForm" action="/saveshindig" method="post">
	<div class="formTexts medium-4 column">
		<label for="title">Title</label><br>
		<input class="newshindig" name="title" id="title" type="text"><br>

		<label for="date">Date</label><br>
		<input class="shortInput" name="date" id="date" type="date"><br>

		<label for="start_time">Start Time</label><br>
		<input class="shortInput" name="start_time" id="start_time" type="time"><br>

		<label for="end_time">End Time</label><br>
		<input class="shortInput" name="end_time" id="end_time" type="time"><br>

		<label for="location">Where</label><br>
		<input class="shortInput" name="location" id="location" type="text"><br>
	</div>
	<div class="medium-4 column">
		<label for="cbHipster"><img src="Hipster-icon.png"><input type="checkbox" name="interest" id="cbHipster" value="hipster" >Hipster</label><br>
		<label for="cbOutdoors"><img src="Outdoors-icon.png"><input type="checkbox" name="interest" id="cbOutdoors" value="outdoors" >Outdoors</label><br>
		<label for="cbGeek"><img src="Geek-icon.png"><input type="checkbox" name="interest" id="cbGeek" value="geek">Geek</label><br>
		<label for="cbMusic"><img src="Music-icon.png"><input type="checkbox" name="interest" id="cbMusic" value="music">Music</label>
	</div>
	<div class="medium-4 column">
		<label for="cbGaming"><img src="Gaming-icon.png"><input type="checkbox" name="interest" id="cbGaming" value="gaming" >Gaming</label><br>
		<label for="cbSports"><img src="Sports-icon.png"><input type="checkbox" name="interest" id="cbSports" value="sports" >Sports</label><br>
		<label for="cbDrink"><img src="Refreshment-icon.png"><input type="checkbox" name="interest" id="cbDrink" value="drink" >Drink</label><br>
		<label for="cbPets"><img src="Pet-icon.png"><input type="checkbox" name="interest" id="cbPets" value="pets">Pets</label>
	</div>

		<label for="description">Details</label>
		<input class="shortInput" name="description" id="description" type="textarea" rows="4" cols="50"><br>

		<button class="submit_button" type="submit">Save Shindig</button>
</div>
	</form>


