<div class="small-12 column">

	<form id="signupForm" action="/saveshindig" method="post">

		<label for="titleCreate">Title</label><br>
		<input class="newshindig" name="titleCreate" id="titleCreate" type="text"><br>

		<label for="dateCreate">Date</label><br>
		<input class="shortInput" name="dateCreate" id="dateCreate" type="date"><br>

		<label for="startTimeCreate">Start Time</label><br>
		<input class="shortInput" name="startTimeCreate" id="startTimeCreate" type="time"><br>

		<label for="endTimeCreate">End Time</label><br>
		<input class="shortInput" name="endTimeCreate" id="endTimeCreate" type="time"><br>

		<label for="locationCreate">Where</label><br>
		<input class="shortInput" name="locationCreate" id="locationCreate" type="text"><br>

		<input type="checkbox" name="interest" value="hipster">Hipster<br>
		<input type="checkbox" name="interest" value="outdoors">Outdoors<br>
		<input type="checkbox" name="interest" value="geek">Geek<br>
		<input type="checkbox" name="interest" value="music">Music<br>
		<input type="checkbox" name="interest" value="gaming">Gaming<br>
		<input type="checkbox" name="interest" value="sports">Sports<br>
		<input type="checkbox" name="interest" value="drink">Drink<br>
		<input type="checkbox" name="interest" value="pets">Pets<br>

		<label for="descriptionCreate">Details</label><br>
		<input class="shortInput" name="descriptionCreate" id="descriptionCreate" type="text"><br>

		<button class="submit_button" type="submit">Save Shindig</button>

	</form>


