<div class="small-12 column">

	<form id="signupForm" action="/saveshindig" method="post">

		<label for="title">Title</label><br>
		<input class="newshindig" name="title" id="title" type="text"><br>

		<label for="date">Date</label><br>
		<input class="shortInput" name="date" id="date" type="date"><br>

		<label for="start_time">Start Time</label><br>
		<input class="shortInput" name="start_time" id="start_time" type="time"><br>

		<label for="end_time">End Time</label><br>
		<input class="shortInput" name="end_time" id="end_time" type="time"><br>

		<label for="location">Where</label><br>
		<input class="shortInput" name="location" id="location" type="text"><br>

		<input type="checkbox" name="interest" value="hipster">Hipster<br>
		<input type="checkbox" name="interest" value="outdoors">Outdoors<br>
		<input type="checkbox" name="interest" value="geek">Geek<br>
		<input type="checkbox" name="interest" value="music">Music<br>
		<input type="checkbox" name="interest" value="gaming">Gaming<br>
		<input type="checkbox" name="interest" value="sports">Sports<br>
		<input type="checkbox" name="interest" value="drink">Drink<br>
		<input type="checkbox" name="interest" value="pets">Pets<br>

		<label for="description">Details</label><br>
		<input class="shortInput" name="description" id="description" type="text"><br>

		<button class="submit_button" type="submit">Save Shindig</button>

	</form>


