<div class="formBox medium-12 column">
	<form id="signupFormCreate" action="">

	<div class="formTexts medium-4 column">
		<label for="titleCreate">Title</label><br>
		<input class="newshindig" name="titleCreate" id="titleCreate" type="text"><br>

		<label for="dateCreate">Date</label><br>
		<input class="shortInput" name="dateCreate" id="dateCreate" type="date"><br>

		<label for="startTimeCreate">Start Time</label><br>
		<input class="shortInput" name="startTimeCreate" id="startTimeCreate" type="time"><br>

		<label for="endTimeCreate">End Time</label><br>
		<input class="shortInput" name="endTimeCreate" id="endTimeCreate" type="time"><br>

		<label for="locationCreate">Where</label><br>
		<input class="shortInput" name="locationCreate" id="locationCreate" type="text"><br>
	</div>

	<div class="medium-4 column">
	<label for="descriptionCreate">Details</label>
		<textarea form="signupFormCreate" class="shortInput" name="descriptionCreate" id="descriptionCreate" type="textarea" rows="4" cols="40"></textarea>
	</div>

	<div class="createInterests medium-8 column">
		<label for="cbHipster"><img src="Hipster-icon.png"><br><input type="checkbox" name="interest" id="cbHipster" value="hipster" >Hipster</label>
		<label for="cbOutdoors"><img src="Outdoors-icon.png"><br><input type="checkbox" name="interest" id="cbOutdoors" value="outdoors" >Outdoors</label>
		<label for="cbGeek"><img src="Geek-icon.png"><br><input type="checkbox" name="interest" id="cbGeek" value="geek">Geek</label>
		<label for="cbMusic"><img src="Music-icon.png"><br><input type="checkbox" name="interest" id="cbMusic" value="music">Music</label>
		<label for="cbGaming"><img src="Gaming-icon.png"><br><input type="checkbox" name="interest" id="cbGaming" value="gaming" >Gaming</label>
		<label for="cbSports"><img src="Sports-icon.png"><br><input type="checkbox" name="interest" id="cbSports" value="sports" >Sports</label>
		<label for="cbDrink"><img src="Refreshment-icon.png"><br><input type="checkbox" name="interest" id="cbDrink" value="drink" >Drink</label>
		<label for="cbPets"><img src="Pet-icon.png"><br><input type="checkbox" name="interest" id="cbPets" value="pets">Pets</label>
	</div>


	<div class="medium-8 column">
		<button class="buttonCreate submit_button">Save Shindig</button>
	</div>

	</form>
</div>

