<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shindig | {{subTitle}}</title>
	<meta name="description" content=""
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- stylesheets -->
	<link rel="stylesheet" href="css/styles.css" type="css/text" />

</head>
<body>
<div class="grid">

	<div class="header col_4 cf">

		<div class="logo">
		<a href=""><img src="images/shindig_logo.png" alt="Shindig logo"/></a>
		</div><!-- end logo -->

	</div><!-- end header -->

	</div><!-- end grid -->

<div class="container">
	<!-- want to use Coquette Regular here -->
    <h2 id="shindig">Shindig</h2>

    <div class="small-12 large-12 column" id="log"></div>

    <div class="row">

      <div class="small-12 large-12 column">

        <p>Meet people like you doing the stuff you do.</p>

      </div>

    </div>
	
	<div class="mainContent">
  	<!-- handlebars sub templates -->
		{{>content}}

	</div><!-- end mainContent -->

</div><!-- end contianer -->

<div class="footer">

	<div class="footer_content">
	<p>footer information</p>
	</div>

</div><!-- end footer -->

</body>
</html>