<div class"row">

      <div class="small-12 large-12 column">
        <h3 id="sign-in">Sign In</h3>
        <p class="flash">{{message}}</p>
        <form action = "/login" method = "post">
          <input type="text" id="email" name="email" placeholder="Email or Username">
          <input type="text" id="password" name="password" placeholder="Password">
          <button type="submit" class="login_button">Go!</button>
        </form>
        <button><a href="/register">Join</a></button>

        

      </div>