<p class="centeredDescription col_4">Already registered? You can <a href="/login">log in here.</a></p>
<p class="flash">{{message}}</p>

<div class="formBox medium-12 column">
<p>Answer these questions to find local events that fit your interests.</p>
<div class="formTexts medium-4 column">
	<form id="signupForm" action="/register" method="post">

		<label for="name">First name</label><br>
		<input class="shortInput" name="firstName" id="firstName" type="text"><br>

		<label for="name">Last name</label><br>
		<input class="shortInput" name="lastName" id="lastName" type="text"><br>

		<label for="name">Display name</label><br>
		<input class="shortInput" name="displayName" id="displayName" type="text"><br>

		<label for="email">Email</label><br>
		<input class="shortInput" name="email" id="email" type="text"><br>

		<label for="password">Password</label><br>
		<input name="password" class="shortInput" id="password" type="text"><br>

		<label for="confirmPassword">Confirm password</label><br>
		<input name="confirmPassword" class="shortInput" id="confirmPassword" type="text"><br>
</div>

    {{!-- <p>Answer these questions to find local events that fit your interests.</p> --}}
<div class="medium-4 column">
		<ul>
			<li id="q1">Do you ride a fixie?<br>
        <input type="radio" name="interest1" value="hipster">Yes
        <input type="radio" name="interest1" value="">No
        <input type="radio" name="interest1" value="">What's a fixie
      </li>

      <li id="q2">Do you like to hike?<br>
        <input type="radio" name="interest2" value="outdoors">Yes
        <input type="radio" name="interest2" value="">No
        <input type="radio" name="interest2" value="outdoors">I am Bear Gryllls
      </li>

      <li id="q3">Do you know Javascript?<br>
        <input type="radio" name="interest3" value="geek">Yes
        <input type="radio" name="interest3" value="">No
        <input type="radio" name="interest3" value="">I love that drink at Starbucks!
      </li>

      <li id="q4">Are you a fan of Creed?<br>
        <input type="radio" name="interest4" value="">Yes
        <input type="radio" name="interest4" value="music">No
      </li>
      </ul>
      <button type="submit" class="button_register buttonRegister">Register</button>
</div>
<div class="medium-4 column">
  <ul>
      <li id="q5">Have you beaten FFVII?<br>
        <input type="radio" name="interest5" value="gaming">Yes
        <input type="radio" name="interest5" value="">No
        <input type="radio" name="interest5" value="gaming">5 times
      </li>

      <li id="q6">Who is the best football team<br>
        <input type="radio" name="interest6" value="sports" value="sports">Seahawks
        <input type="radio" name="interest6" value="">What's football?
      </li>

      <li id="q7">What is your beer of choice?<br>
        <input type="radio" name="interest7" value="drink">Coffee
        <input type="radio" name="interest7" value="drink">Beer
        <input type="radio" name="interest7" value="">Water
      </li>

      <li id="q8">Do you own a dog?<br>
        <input type="radio" name="interest8" value="pets">Yes
        <input type="radio" name="interest8" value="">No
        <input type="radio" name="interest8" value="pets">All hail the great cat!
      </li>
	</ul>

</div>


	</form>

<p class="flash">{{message}}</p>

</div>

