<div class="grid">

	<h1 class="largeHeader">Registration</h1>
	<p class="centeredDescription col_4">Already registered? You can <a href="/login">log in here.</a></p>
	<p class="flash">{{message}}</p>

	<div class="col_2">

		<form id="signupForm" action="/register" method="post">

			<label for="name">First name</label><br>
			<input class="shortInput" name="first_name" id="first_name" type="text"><br>

			<label for="name">Last name</label><br>
			<input class="shortInput" name="last_name" id="last_name" type="text"><br>

			<label for="name">User name</label><br>
			<input class="shortInput" name="displayName" id="displayName" type="text"><br>

			<label for="email">Email</label><br>
			<input class="shortInput" name="email" id="email" type="text"><br>

			<label for="password">Password</label><br>
			<input type="password" name="password" class="shortInput" id="password" type="text"><br>

			<label for="confirmPassword">Confirm password</label><br>
			<input type="password" name="confirmPassword" class="shortInput" id="confirmPassword" type="text"><br>

			<button type="submit" class="button_register">Register</button>

		</form>

	</div>

</div>
	<!-- end grid -->