<div class="grid">

	<h1 class="largeHeader">Survey</h1>
	
	<p class="flash">{{message}}</p>

	<div class="small-12 column" id="log"></div>

  <div class="row">
    <div class="small-12 column">
      <p>Answer these questions to find local events that fit your interests.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <ol>
        <li id="q1">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
        <li id="q2">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
        <li id="q3">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
        <li id="q4">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
        <li id="q5">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
        <li id="q6">Question<br>
          <input type="radio">True
          <input type="radio">False</li>
      </ol>
    </div>
  </div>

  <div>
    <button id="quiz submit"><a href="/shindig">Submit Your Answers</a></button>
  </div>

</div>
	<!-- end grid -->